@import "tailwindcss";
@plugin "@tailwindcss/typography";

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #1d263b;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #2d3b54;
}